/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    flex-direction: column;
}

h1 {
    text-align: center;
}

/* Guess Stats Display */
#guessStats {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
}

/* Keyboard Styling */
#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    margin-top: 20px;
    width: 70%;
    max-width: 600px;
    justify-content: center;
}

.key {
    padding: 10px;
    text-align: center;
    background-color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.key.used {
    background-color: black;
    color: white;
}

.key.correct {
    background-color: green;
    color: white;
}

.key.misplaced {
    background-color: yellow;
    color: black;
}

.key.empty {
    background-color: lightgray;
}

.key:hover {
    background-color: #ddd;
}

/* Recent Guesses List */
#recentGuessesList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    height: 400px;
    width: 200px;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#recentGuessesList li {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 5px;
    width: 100%;
}

#recentGuessesList li span {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    border-radius: 5px;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Message Styling */
#message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
